*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --light:#ffffff;
    --dark:#1A202C;
    --blue:#306BB3;
}

header {
    background-color:#306BB3;
    height: 15%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

header>div>nav {
    width: 50%;
}

.btnMode {
    background-color: #ffffff;
    color: #306BB3;
    height: 35%;
    width: 15%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: #306BB3;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    color: var(--light);
}

a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
}

h1 {
    margin-top: 30px;
    text-align: center;
    color: #486284;
    font-size: 48;
}

main>p {
    text-align: center;
    margin-top: 30px;
    font-size: 18;
}

main>div>ul>li>a {
    color: #1A202C;
}

.select_type {
    color: #1A202C;
    margin: 2% 0px;
    margin-left: 5%; 
    width: 90%;
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 2px solid #90A3BF;
    text-align: center;
}

.typeElements {
    display: flex;
    justify-content: space-around;
    width: 90%;
    color: #1A202C;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin: 5% auto;
}

.card {
    background-color: #DEE5ED;
    padding: 4%;
    border: none;
    border-radius: 10px;
    margin: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card>div {
    display:flex;
    justify-content: space-between;
}

.card>div>p {
    font-size: 20;
    font-weight:500;
    text-transform: initial;
}

.pokemonImg {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}

.btnBuy {
    width: 30%;
    height: 100%;
    border-radius: 4px;
    background-color: #306BB3;
    color: #FFFFFF;
    border: none;
}
.finisher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnShowMore{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 10%;
    height: 100%;
    border-radius: 4px;
    background-color: #306BB3;
    color: #FFFFFF;
    border: none;
}
.cardCount {
    color: #306BB3;
}
footer {
    background-color: #306BB3;
    color: white;
    display: flex;
    flex-direction: row;
    height: 35%;
}

footer>div {
    display: flex;
    flex-direction: column;
   width: 50%;
}

footer>div>div {
    margin-left: 5%;
    width: fit-content;
}

footer>article {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}

footer>article>div {
    width: 50%;
    display: flex;
    justify-content: flex;
}

footer>article>div>ul>h3 {
    margin: 10px;
}

footer>article>div>ul>li {
    list-style: none;
    display: flex;
    margin: 10px;
}

#parFooter{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
}

#logo {
    width:140px;
    height: 50px;
    margin-left: 3%;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

footer>div>div>nav {
    display: flex;
    flex-direction: row;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}




