
*{
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
   font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    background-color:#306BB3;
    height: 10vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
header>div {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}

header>button {
    color: #306BB3;
    height: 30%;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: #306BB3;

}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px;
    padding-left: 2%;
}

section{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content:space-evenly

}

main>img {
    display: flex;
    height: 30%;
    width: 30%;

}

main>section>div>a {
    color: black;
    margin: 5%;
}

footer {
    background-color: #306BB3;
    color: white;
    display: flex;
    flex-direction: row;
}

footer>div {
    display: flex;
    flex-direction: column;
   width: 50%;
}

footer>div>div {
    margin-left: 5%;
    width: fit-content;
}

footer>article {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}

footer>article>div {
    width: 50%;
    display: flex;
    justify-content: flex;
}

footer>article>div>ul>h3 {
    margin: 10px;
}

footer>article>div>ul>li {
    list-style: none;
    display: flex;
    margin: 10px;
}

#logo {
    width:150px;
    height: 55px;
    margin-left: 3%;
}
